<h4>NEW!</h4>
<h2><%= @product.name %></h2>

<h5><%=@product.description%></h5>
<h5>Price:<%= number_to_currency@product.price %></h5>
<h5>Tax:<%= number_to_currency(@product.tax) %></h5>
<h5>Total:<%= number_to_currency(@product.total) %></h5>
<h5><%=@product.sale_message%></h5>

<%= form_tag "/products/#{@product.id}", method: :delete do %> 
<% submit_tag 'Too old' %>
<% end %>
	